body {
  overflow: auto !important;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  background-color: white;
}

.errorLable {
  color: red;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

a {
  color: dodgerblue;
}

.form_group {
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
}

.glyphicon {
  margin-right: 5px;
}

.btn-outline-primary {
  margin-bottom: 16px;
}

.btn-outline-success {
  margin-bottom: 15px;
}

.border {
  margin-bottom: 6px;
}

.viewCount {
  margin-right: 15px;
}

.pt-4 {
  color: blue;
}

.spinner-border{
  margin-right: 15px;
}